body {
    margin: 0;
    height: 100vh;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header, .div-one, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15%;
    font-weight: bold;
}

.div-one {
    flex: 1.3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 15%;
    gap: 32px;
}

.img-placeholder {
    width: 240px;
    height: 120px;
    background-color: #6D747D;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.div-one-left {
    font-weight: bold;
    font-size: 24px;
}

.div-one-desc {
    font-weight: normal;
    font-size: 12px;
    color: #E5E7EB;
}

.div-two {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.div-two-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 32px;
}

.elements {
    display: flex;
    gap: 24px;
    text-align: center;
}

.img-placeholder-2 {
    width: 80px;
    height: 80px;
    border: 2px;
    border-radius: 10%;
    border-color: #3882F6;
    border-style: solid;
    margin-bottom: 8px;
}

.info-text {
    max-width: 80px;
    color: #555;
    font-weight: bold;
    font-size: 8px;
}

.div-three {
    flex: 1.3;
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 32px 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.big-quote {
    max-width: 360px;
    font-style: italic;
}

.quote-signature {
    max-width: 400px;
    text-align: end;
    padding-right: 2%;
    font-weight: bold;
    font-size: 12px;
}

.div-four {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 16px;
    font-size: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 8px;
}

.btn1 {
    background-color: #3882F6;
    border-radius: 3px;
    border: 0px;
    padding: 3px 16px ;
    color: #E5E7EB;
}

li {
    font-size: 10px;
    color: #E5E7EB;
    font-weight: normal;
}